.span15 {
    margin-left: 15px;
}

.span10 {
    margin-left: 10px;
}
.span5 {
    margin-left: 5px;
}
.vspan15 {
    margin-bottom: 10px;
}

.vcenter {
    text-align: center;
    margin-top: 200px;
}

.center {
    text-align: center;
}

.margin {
    margin-bottom: 10px;
    display: block;
}